.jumbotron.background-new

  %table.table.table-responsive
    %thead
      %th Movie
      %th Year
      %th Action
    - @response["Search"].each do |movie|
      %tr
        %td= movie['Title']
        %td= movie['Year']
        %td
          = link_to "Get Info", search_path(movie['imdbID'])
